---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Siddharth's blog";
const description = 'I write about tech, chess and more.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img
        src="/blog/assets/Workin2.webp"
        alt="Illustration of a notebook"
        width="330"
      />
      <figcaption>Fig. Working on some vacation</figcaption>
    </figure>
    <p>
      Hey ! My name is Siddharth Varangaonkar. I love to code on web, build
      things and make them exceptionally awesome. I am a developer with love for javascript
      and python with precise knowledge and mostly developing applications on
      them but not hesitating to work on anything else. Everything related to
      computing is my passion even hardware part. Its so interesting to dive in.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
