---
import BaseLayout from '../layouts/BaseLayout.astro';

let allPosts = await Astro.glob('../data/blog-posts/*/*.mdx');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf(),
);
const title = 'My Astro Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-container">
      <div class="home-copy">
        <h1>Hey I'm Siddharth</h1>
        <p>
          Fueled by an uncontrollable urge to scribble thoughts, tinker with
          code, and sharpen my brain with chess, I created this website as my
          digital playground. Here, you’ll find me pouring out words like a
          caffeinated blogger, debugging my way through life, and occasionally
          plotting world domination, one chess move at a time! 🖋️ 💻 ♟️
        </p>
        <p style="font-size: 10pt;">
          FYI, Not a perfect coder, still learning and exploring!
        </p>
      </div>
      <div class="hero-image-container">
        <picture>
          <source srcset="/assets/Working.webp" media="(min-width: 600px)" />
          <img
            class="hero-image"
            alt="Illustration of person reading a book"
            src="/assets/Working.webp"
            width="550"
            height="466"
          />
        </picture>
      </div>
    </div>
  </div>

  <style>
    .home-container {
      align-items: center;
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: center;
      margin: 2em 0;
      min-height: 400px;
    }

    .home-copy {
      flex: 1;
      padding: 0 1em;
    }

    .home-copy h1 {
      font-weight: 700;
      margin-bottom: 0.5em;
      line-height: 1.3;
    }

    .home-copy p {
      font-size: 1.4em;
    }

    .hero-image-container {
      margin: 0 1em;
      text-align: center;
      width: 350px;
      height: 350px;
      border-radius: 40%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid #3498db; /* Border color and size */
    }

    .hero-image-container picture {
      display: block;
      min-height: 250px;
    }

    .caption {
      font-size: 0.8em;
      font-style: italic;
      text-align: left;
    }

    .hero-image {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1200px) {
      p {
        font-size: 1.2em;
      }

      .hero-image {
        max-width: 400px;
      }
    }

    @media (max-width: 800px) {
      .home-container {
        flex-direction: column;
      }

      .home-copy {
        flex: 0;
        padding-bottom: 2em;
        text-align: center;
      }
    }
  </style></BaseLayout
>
