<style>
  img {
    display: block;
    width: 75px;
  }
  a {
    text-decoration: none;
    font-weight: 900;
    font-size: 18pt;
  }
  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/blog"> SIDDHARTH.V </a>
