---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const { current = '' } = Astro.props;
---

<script>
  document.addEventListener('astro:page-load', () => {
    const hamburger = document.querySelector('.drawer-container');
    const drawerContent = document.querySelector('.drawer-content');

    hamburger?.addEventListener('click', () => {
      if (drawerContent?.classList.contains('hide')) {
        drawerContent?.classList.remove('hide');
        drawerContent.classList.add('show');
      } else {
        drawerContent?.classList.remove('show');
        drawerContent?.classList.add('hide');
      }
      // display none to drawer-content and display flex again
      // css will do smaller device handling
    });
  });
</script>
<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    position: relative;
    margin-left: 20px;
    min-width: 70px;
    text-align: center;
  }

  a:not(.selected) {
    opacity: 0.7;
  }

  a::before {
    content: '';
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--text-secondary);
    transform: scaleX(0);
  }

  a:hover::before,
  .selected::before {
    transform: scaleX(1);
  }

  .selected::before {
    background: var(--primary-color);
  }

  .theme-toggle-container {
    width: 75px;
  }
  .drawer-container {
    display: none;
    cursor: pointer;
    z-index: 1000;
  }
  .drawer-row {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1001;
  }
  .drawer-content {
    position: absolute;
    display: none;
    background-color: var(--text-main);
    color: var(--background-body);
    z-index: 1000;
    padding-top: 2em;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35%;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-secondary);
    margin: 6px 0;
    transition: 0.4s;
  }
  @media only screen and (max-width: 767px) {
    nav {
      display: none;
    }
    .drawer-row {
      display: flex;
      justify-content: space-between;
    }
    .drawer-row > * {
      margin-left: 1rem;
    }
    .drawer-container {
      display: inline-block;
    }
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
    .theme-toggle-container {
      width: unset;
      display: flex;
      justify-content: center;
    }
  }
</style>

<div>
  <nav>
    <a class={current === '' ? 'selected' : ''} href="/">home</a>
    <a class={current === 'about' ? 'selected' : ''} href="/about">about</a>
    <a class={current === 'blog' ? 'selected' : ''} href="/blog">blog</a>
    <div class="theme-toggle-container">
      <ThemeToggleButton client:load />
    </div>
  </nav>
  <div class="drawer-row">
    <div class="theme-toggle-container">
      <ThemeToggleButton client:load />
    </div>
    <div class="drawer-container">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <div class="drawer-content hide">
    <a class={current === '' ? 'selected' : ''} href="/">home</a>
    <a class={current === 'about' ? 'selected' : ''} href="/about">about</a>
    <a class={current === 'blog' ? 'selected' : ''} href="/blog">blog</a>
    <div class="theme-toggle-container">
      <ThemeToggleButton client:load />
    </div>
  </div>
</div>
